---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import PostList from "../components/PostList.astro";

const posts = await getCollection('posts');
console.log(posts)

---

<Layout title="Blog" description="Where does the description go?">
	<Main>
        <H1 text="Blog" />
        <PostList posts={posts} />
        <!-- {
            posts.map((post) => (
                <a href={`/blog/${post.slug}`}>
                    <h2>{post.data.title}</h2>
                </a>
                
            ))
        } -->
    </Main>
</Layout>